{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form method="get" action="/shop/">
                                <input type="search" name="search" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                {% for cat in cats %}
                                    {% if not cat.parent_category %}


                                        <div class="card">
                                            <div class="card-heading">
                                                <a data-toggle="collapse"
                                                   data-target="#collapse{{ forloop.counter }}">{{ cat }}</a>
                                            </div>
                                            <div id="collapse{{ forloop.counter }}" class="collapse"
                                                 data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <div class="shop__sidebar__{{ cat.normalize_title }}">
                                                        <ul class="nice-scroll">

                                                            {% for child_cat in cats %}
                                                                {% if child_cat.parent_category == cat %}

                                                                    {% if child_cat.font_type == 0 %}
                                                                        <li>
                                                                            <a href="/shop/?q={{ child_cat }}">{{ child_cat }}</a>
                                                                        </li>
                                                                    {% endif %}


                                                                    {% if child_cat.font_type == 1 %}
                                                                        <a style="color: black;cursor: pointer;"
                                                                           href="?q={{ child_cat.name }}">
                                                                            <label for="{{ child_cat.name }}">
                                                                                {{ child_cat }}
                                                                                <input type="button"
                                                                                       id="{{ child_cat }}">
                                                                            </label>
                                                                        </a>
                                                                    {% endif %}

                                                                    {% if child_cat.font_type == 2 %}
                                                                        <a  href="?s={{ child_cat.name|slice:"1:" }}">
                                                                            <span>
                                                                            <label
                                                                                    style="background-color:{{ child_cat }};cursor: pointer;height: 60px;border-radius: 15px;border-color:{{ child_cat }} "
                                                                                    for="{{ child_cat.name|slice:"1:" }}">
                                                                            <input style="background-color: {{ child_cat }};border-color: {{ child_cat }};border-radius: 10px;border-right-color: {{ child_cat }}" type="button" id="{{ child_cat }}">
                                                                        </label></span></a>
                                                                    {% endif %}

                                                                    {% if child_cat.font_type == 3 %}
                                                                        <a href="/shop/?q={{ child_cat }}">{{ child_cat }}</a>

                                                                    {% endif %}


                                                                {% endif %}

                                                            {% endfor %}
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    {% endif %}
                                {% endfor %}


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing {{ product.end_index }} out of {{ p.count }}
                                        results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select name="sort" id="sort-list" onchange="location = finalurl();">
                                        <option value="" id="placeholder" disabled selected hidden>Sort</option>

                                        <option id="price" value="price">Low To High</option>
                                        <option id="-price" value="-price">High To Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in product %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg"
                                         data-setbg="{{ product.image.url }}">
                                        <ul class="product__hover">

                                            {% if request.user.is_authenticated %}
                                                <li><a class="add-wishlist" style="cursor: pointer"
                                                       data-product="{{ product.id }}"><img
                                                        src="{% static 'img/icon/xheart.png.pagespeed.ic.eX6BmaqN_X.png' %}"
                                                        alt=""></a></li>
                                                {#                                    <li><a href="#"><img#}
                                                {#                                            src="{% static 'img/icon/xcompare.png.pagespeed.ic.UIWeUFOM61.png' %}"#}
                                                {#                                            alt=""> <span>Compare</span></a>#}
                                                {#                                    </li>#}
                                                <li><a class="#" href="{% url 'products:detail' product.id %}"><img
                                                        src="{% static 'img/icon/xsearch.png.pagespeed.ic.y-8fLDHdJm.png' %}"
                                                        alt=""></a>
                                                </li>
                                            {% else %}
                                                <p style="background-color:beige;color: #343a40"><a
                                                        href="/accounts/login"> firstly you should log
                                                    in</a></p>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>{{ product.name }}</h6>
                                        <a data-product="{{ product.id }}" style="cursor: pointer" class="add-cart">+
                                            Add To
                                            Cart</a>
                                        <div class="rating">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5>{{ product.price }}</h5>
                                        <div class="product__color__select">
                                            {% for child_cat in cats %}
                                                {% if child_cat.parent_category == Color %}

                                                    <a><label
                                                            style="background-color:{{ child_cat }}"
                                                            for="{{ child_cat }}">
                                                        <input type="radio" id="{{ child_cat }}">
                                                    </label></a>

                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination" style="text-align: center">

                                {% if  product.has_previous %}
                                    <a href="?page={{ product.previous_page_number }}"><--</a>
                                {% endif %}
                                {% for page in list %}
                                    <a href="?page={{ page }}">{{ page }}</a>
                                {% endfor %}
                                {% if  product.has_next %}
                                    <a href="?page={{ product.next_page_number }}"> --></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function get(name) {
            if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))  //location.search give query sling part
                return decodeURIComponent(name[1]);
        }

        if (get('ordering'))
            document.getElementById('placeholder').innerHTML = "Sort: " + document.getElementById(get('ordering')).innerHTML;

        function finalurl() {
            var url = new URL(window.location.href);
            var search_params = url.searchParams;
            search_params.set('ordering', document.getElementById("sort-list").value);
            url.search = search_params.toString();
            var new_url = url.toString();
            return new_url
        }
    </script>
{% endblock %}